<html>
  <head>
    <title>Good Bad Ugly <span></span></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/theme.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/list.min.js"></script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Good Bad Ugly</h3>
              <ul class="nav masthead-nav">
                <li><a href="#">Configuration</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <div id="content" class="inner cover"></div>

          <div class="mastfoot">
            <div class="inner">
              <p>
                By MarshMellow for
                <a href="http://clojurecup.com">ClojureCup 2014</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
