<div id="home">
  <h1 class="cover-heading">
    How's your Clojure code these days?
  </h1>
  <p class="lead">
    Have your repository's code checked on every pull request creation and
    modification using Eastwood, a Clojure lint (Clint ;) library.
  </p>
  <p class="lead">
    If something is not quite right a comment will be added indicating what's
    the Bad and the Ugly. If everything is Good then you won't hear from us.
  </p>
  <p class="lead">
    <a href="/api/login" class="btn btn-lg btn-default">Sign in with GitHub</a>
  </p>
</div>

<div id="repos">
  <h1 class="cover-heading">
    Please wait while we get your repositories<span class="one">.</span><span class="two">.</span><span class="three">.</span>
  </h1>
  <script src="js/repos.js"></script>
  <script id="repo-list-tplt" type="text/x-handlebars-template">
    <div id="repo-list">
      <div class="search-box">
        <input class="search" placeholder="Search" />
      </div>
      <ul class="list">
        {{{items}}}
      </ul>
    </div>
  </script>
  <script id="repo-item-tplt" type="text/x-handlebars-template">
    <li>
      <div class="switch">
        <button data-full-name="{{full_name}}" class="{{gbu}}">
          {{#if webhook_active}}
          On
          {{else}}
          Off
          {{/if}}
        </button>
      </div>
      <div class="info">
        <a href="{{html_url}}">
          <h4 class="name">{{full_name}}</h4>
        </a>
        <p>{{description}}</p>
      </div>
      <div class="clear"></div>
    </li>
  </script>
</div>

<div id="config">
  <p class="lead">
    You can add a <strong>goodbadugly.config</strong> file in your
    <strong>master</strong> branch to specifiy the options that will be
    passed to <a href="https://github.com/jonase/eastwood">Eastwood</a>
    when it runs.
  </p>
  <p class="lead">
    For more information on the available options please check Eastwood's
    documentation.
  </p>
</div>

<div id="contact">
  <p class="lead">
    If you have any comments, questions or suggestions you can
    reach us through <strong>Good, Bad, Ugly</strong>'s GitHub repository
    <a href="https://github.com/jfacorro/goodbadugly">here</a>.
  </p>
  <p class="lead">
    Also feel free to drop us an email at
    <a href="mail:good.bad.ugly.github@gmail.com">good.bad.ugly.github@gmail.com</a>,
    even if it is not related to this application.
    ^^
  </p>
</div>
