<div id="home">
  <h1 class="cover-heading">
    How's your Clojure code these days?
  </h1>
  <p class="lead">
    Have your repository's code checked using Eastwood on every
    pull request creation and modification. If something is not quite
    right a comment will be added indicating what's the Bad
    and the Ugly. If everything is Good then you'll never hear from
    us.
  </p>
  <p class="lead">
    <a href="/login" class="btn btn-lg btn-default">Sign in with GitHub</a>
  </p>
</div>
<div id="repos">
  <h1 class="cover-heading">
    Please wait while we get your repositories...
  </h1>
  <p class="lead">
    Repos here.
  </p>
</div>
